
@{
    ViewBag.Title = "Détails de projet";
    ViewData["Controller"] = "Détails utilisateur";
}

<input type="hidden" id="id_" value="@ViewData["Id"]" />

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Intitulé</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="title">
    </div>
</div>

<div class="form-row">
    <div class="mb-3 col">
        <div class="btn btn-flat bg-gradient-olive col-12" data-action="UpdateProject">
            <i class="fa fa-save"></i> Enregistrer
        </div>
    </div>
</div>

<script defer type="module">
    const urlOrigin = "https://localhost:44334";

    $('[data-action="UpdateProject"]').on('click', () => {
        const title = $('#title').val();

        const payload = {
            id: $('#id_').val(),
            title
        }

        $.ajax({
            type: 'POST',
            async: true,
            url: urlOrigin + '/Projects/Update',
            contentType: 'application/json',
            datatype: 'json',
            data: JSON.stringify({ ...payload }),
            success: function () {
                window.location = urlOrigin + "/SuperAdmin/ProjetList";
            },
            Error: function (_, e) {
                alert(e);
            }
        });
    });
</script>