@{
    ViewBag.Title = "Traitement MANDATS";
    ViewData["Controller"] = "Traitement MANDATS";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET</span>
        </div>
        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="proj" data-id="proj-list" disabled @*disabled="@((Session["userSession"] as apptab.SI_USERS).ROLE == apptab.Role.Projet || (Session["userSession"] as apptab.SI_USERS).ROLE == apptab.Role.ORDSEC || (Session["userSession"] as apptab.SI_USERS).ROLE == apptab.Role.Administrateur)"*@>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Date début</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="dateD">
    </div>
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Date fin</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="dateF">
    </div>
</div>

<div class="form-row mb-3">
    <div class="input-group mb-3 col">
        <div class="btn btn-flat bg-gradient-info col-12" data-action="GenereR">
            <i class="fa fa-download"></i> Générer
        </div>
    </div>
</div>

<div class="table-responsive mb-3" style="max-height:400px" tab="paie">
    <table class="table table-hover table-striped table-bordered">
        <thead style="position:sticky">
            <tr class="thead-accueil1" style="white-space: nowrap;">
                <td style="text-align:center">
                    <input type="checkbox" />
                </td>
                <td style="font-weight: bold; text-align:center">N°</td>
                <td style="font-weight:bold; text-align:center">Référence Engagement</td>
                <td style="font-weight: bold; text-align: center">Objet</td>
                <td style="font-weight: bold; text-align: center">Titulaire</td>
                <td style="font-weight: bold; text-align: center">Montant</td>
                <td style="font-weight: bold; text-align: center">Compte</td>
                <td style="font-weight: bold; text-align: center">Date engagement</td>
                <td style="font-weight: bold; text-align: center"></td>
            </tr>
        </thead>
        <tbody class="afb160Paie"></tbody>
    </table>
</div>

<div class="form-row mb-3">
    <div class="input-group mb-3 col">
        <div class="btn btn-flat bg-gradient-red col-12" data-action="SaveV">
            <i class="fa fa-check-double"></i> Enregistrer et envoyer pour validation
        </div>
    </div>
</div>

<script src="~/Assets/js/Traitmandat.js"></script>
<script src="~/Assets/js/utils.js"></script>

