
@{
    ViewBag.Title = "Paramétrage des mails (Notifications et Alertes)";
    ViewData["Controller"] = "Paramétrage des mails (Notifications et Alertes)";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Mails traitement</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaT">
        <span class="input-group-text">séparateur " ; "</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Mails validation</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaV">
        <span class="input-group-text">séparateur " ; "</span>
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Mails paiement</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="ParaP">
        <span class="input-group-text">séparateur " ; "</span>
    </div>
</div>

<div class="form-row">
    <div class="mb-3 col">
        <div class="btn btn-flat bg-gradient-olive col-12" data-action="UpdateUser">
            <i class="fa fa-save"></i> Enregistrer
        </div>
    </div>
</div>

<!-- Droit.js -->
<script src="~/Assets/js/Mail.js"></script>


