
@{
    ViewBag.Title = "Initiation";
    ViewData["Controller"] = "Saisie des PROJETS";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">PROJET</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Proj">
    </div>
</div>

<hr style="border:none" />
<h5>First ADMIN</h5>

<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Login (Admin)</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Login">
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Mot de passe (Admin)</span>
        </div>
        <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="MDP">
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend custom-label">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Confirmer le mot de passe (Admin)</span>
        </div>
        <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="MDPC">
    </div>
</div>

<div class="form-row">
    <div class="mb-3 col">
        <div class="btn btn-flat bg-gradient-olive col-12" data-action="AddnewSociete">
            <i class="fa fa-save"></i> Enregistrer
        </div>
    </div>
</div>

<!-- USer.js -->
<script src="~/Assets/js/Projet.js"></script>
