
@{
    ViewBag.Title = "Crypto MDP";
    ViewData["Controller"] = "Mot de passe du fichier";
}

@*<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Ancien mot de passe</span>
        </div>
        <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="MDPA">
    </div>
</div>*@



<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Nouveau mot de passe</span>
        </div>
        <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="MDPN">
    </div>
</div>
<div class="form-row">
    <div class="input-group mb-3 col">
        <div class="input-group-prepend">
            <span class="input-group-text text-bold" id="inputGroup-sizing-default">Confirmer le mot de passe</span>
        </div>
        <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="MDPC">
    </div>
</div>

<div class="form-row">
    <div class="mb-3 col">
        <div class="btn btn-flat bg-gradient-olive col-12" data-action="UpdateUser">
            <i class="fa fa-save"></i> Enregistrer
        </div>
    </div>
</div>

<script src="~/Assets/js/DetailCrypto.js"></script>